<h1>Inventory Database</h1>

<%= link_to 'Manage devices', controller: 'devices' %> || <%= link_to 'add', new_device_path %><br>
<%= link_to 'Manage software licenses', controller: 'software_licenses' %><br>
<%= link_to 'Manage IP addresses', controller: 'ip_addresses' %><br>
<%= link_to 'Manage warranties', controller: 'warranties' %><br>
<%#= link_to 'Manage users', controller: 'users' %><br>


